@import 'fonts.css';
@import 'layout.css';
@import 'module.css';
@font-face
{
  font-family: 'Eras Medium ITC';
  /* src: url(./fonts/WendyOne-Regular.ttf); */
  src: url(./fonts/ERASMD.TTF);
}
html,body *
{
  font-family: 'Open Sans', 'OpenSans-Semibold', 'sans-serif', 'Cantarell','Ubuntu','Oxygen','-apple-system','BlinkMacSystemFont','Segoe UI', 'Roboto';
  font-size: 16px;
}

h1
{
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
}
h2
{
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
h3
{
  font-size: 18px;
  line-height: 20px;
  /* font-weight: normal; */
  font-weight: 600;
  margin: 0;
  /* padding: 2px 0; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
h4
{
  font-size: 14px;
  line-height: 18px;
  /* font-weight: normal; */
  font-weight: 390;
  margin: 0;
  padding: 2px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stronger
{
  font-family: 'Eras Medium ITC';
  font-size: 86px;
  line-height: 86px;
  font-weight: 680;
}
.price > span
{
  font-size: 12px;
  color: #333;
  padding-left: 0.5%;
  /* padding-right: 0.5%; */
}
.price > span.price-int
{
  font-size: 24px;
  font-weight: 600;
}

.price > span.price-symbol,.price > span:last-child
{
  padding-top: 6px;
}
/* .price-float{  */
  /* color: rgb(110, 180, 125); */
  /* color: rgb(80, 175, 219) */
  /* color: #333; */
  /* font-size: 12px; */
/* } */
.coupon{
  color: rgb(110, 180, 125);
  /* color: rgb(80, 175, 219); */
}


/* 小于980 */
@media screen and (max-width:980px)
{
  html,body *
  {
    font-size: 36px;
    line-height: 36px;
  }
  span
  {
    height: 50px;
    line-height: 50px;
  }
  h1
  {
    font-size: 56px;
    line-height: 60px;
    font-weight: normal;
  }
  .stronger
  {
    font-size: 130px;
    line-height: 130px;
  }
  .price > span
  {
    font-size: 36px;
    color: #333;
    margin-top: 3%;
  }
  .price > span.price-int
  {
    font-size: 66px;
    font-weight: 600;
    padding-top: 1.5%;
  }
  .price > span.price-symbol,.price > span:last-child
  {
    padding-top: 0;
  }
  /* .price-float{  */
    /* color: rgb(110, 180, 125); */
    /* color: rgb(80, 175, 219) */
    /* color: #333; */
    /* font-size: 12px; */
  /* } */
  .coupon{
    color: rgb(110, 180, 125);
    /* color: rgb(80, 175, 219); */
  }
}

/* 大于981 */
/* @media screen and (min-width:981px)
{
  h1
  {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
  }
} */


