@import 'fonts.css';
@import 'layout.css';
@import 'module.css';

/* 
main.css
html > body > div > h1 > p > ul > li > a > img

module.css
button | input | text | widget-btn

layout.css
wrap > container > grid
*/


/**************************************************/
/* module: nav       */
/**************************************************/
.brand-plus
{
  width: 200px;
  height: 35px;
  margin-top: 10px;
  display: block;
  background: url('../image/ico/mamleo-200-35-03.png') no-repeat -6px;
  border-radius: 3px;
}
.brand-mini
{
  width: 570px;
  height: 100px;
  display: block;
  background: url('../image/ico/mamleo-200-100.png') no-repeat;
  border-radius: 10px;
}
.brand-logo
{
  background: url('../image/ico/mamleo-200-35-01.png') no-repeat;
}


/* products-shelf & product-info end */
.nav-plus
{
  display: grid;
}
.nav-plus
{
  height: 55px;
  margin: 0 auto;
  /* logo:200px nav:1fr account:70px */
  /* grid-template-columns: 200px 1fr 70px; */
  grid-template-columns: auto 1fr auto;
}
.nav-mini
{
  height: 150px;
  margin: 0 auto;
  position: relative;
}
.nav-mini > ul
{
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}
.nav-mini > ul *
{
  text-align: center;
  margin: auto;
  line-height: 150px;
}
.nav-mini
{
  display: none;
}

ul.nav-app-list
{
  width: 100%;
  justify-content: flex-end;
  margin-right: 2%;
}
ul.nav-app-list > li{
  width: 10%;
  
}
ul.nav-app-list *
{
  text-align: center;
  line-height: 55px;
  margin: 0;
}

ul.nav-app-list > li > a
{
  /* font-family: 'Eras Medium ITC'; */
  color: rgb(95, 147, 112);
}
ul.nav-app-list > li > a:hover
{
  /* color: #ff6666; */
  color: rgb(51, 95, 66);
  font-size: large;
}
.nav-account
{
  line-height: 55px;
  position: relative;
}
.nav-account > .character
{
  background: url('/static/image/ico/shpping-character.png') no-repeat 5px 15px;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 10px;
}
.nav-account > .bag
{
  background: url('/static/image/ico/shpping-bag.png') no-repeat 5px 15px;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 10px;
}
.nav-account > .cart
{
  background: url('/static/image/ico/shpping-cart.png') no-repeat 5px 15px;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 10px;
}
.nav-account > .nav-account-list
{
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}
.nav-account > .nav-account-list > div
{
  border-radius: 6px;
  text-align: center;
  background-color: #fafafa;
  padding: 1% 0;
  margin-top: 10%;
}
.nav-account > .nav-account-list > div > div
{
  background-color: #fff;
  margin: 3%;
  padding: 2%;
}
.nav-account > .nav-account-list > div > span, .nav-account > .nav-account-list > div > div > a
{
  display: block;
  /* border-bottom: 1px solid #ccc; */
}
.nav-account > .nav-account-list > div > div > a
{
  text-align: left;
  padding-left: 6%;
  
}
.nav-account > .nav-account-list > div > div > a:hover
{
  background-color: #fefefe;
  color: #000;
  text-decoration-line: underline;
}
.nav-account > .nav-account-list > .nav-account-online > span, .nav-account > .nav-account-list > .nav-account-online > div > a
{
  height: 30px;
  line-height: 30px;
}
.nav-account > .nav-account-list > .nav-account-online > div > a
{
  font-size: 14px;
}
.nav-mini > .nav-app-list
{
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0;
  width: 100%;
  padding-bottom: 8%;
  background-color: rgb(126, 197, 149, 0.95);
  display: none;
}
.nav-mini > .nav-app-list > a
{
  display: block;
  width: 65%;
  height: 150px;
  line-height: 150px;
  font-size: 56px;
  color: #fff;
  margin: 0 15%;
}
.nav-mini > .nav-app-list > a:first-child
{
  width: 150px;
  margin: 0;
  text-align: center;
}
.nav-mini > .nav-account-list
{
  position: absolute;
  z-index: 1;
  top: 160px;
  right: 1%;
  width: 50%;
  border-radius: 10px;
  padding: 2%;
  background-color: rgba(239, 239, 239, 1);
  display: none;
}
.nav-mini > .nav-account-list > a, .nav-mini > .nav-account-list > .nav-account-online > a
{
  display: block;
  width: 95%;
  height: 100px;
  line-height: 100px;
  font-size: 48px;
  padding-left: 5%;
}
.nav-mini > .nav-account-list > div
{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5%;
  padding: 3%;
}
.nav-mini > .nav-account-list > span
{
  display: block;
  text-align: center;
  margin-bottom: 5%;
  font-size: 48px;
}


.-focus-
{
  /* border-bottom: 3px solid #ff6666; */
  /* font-weight: bold; */
  color: rgb(51, 95, 66);
  font-size: large;
}
.display-block
{
  display: block;
}

/**************************************************/
/* module: banner |      */
/**************************************************/
.banner-tip
{
  position: relative; 
  top: 25%; 
  left: 25%; 
  width: 50%; 
  /* height: 50%;  */
  /* background: rgb(0, 0, 0, 0.2);
  border-radius: 10px; */
  color: #fff;
}
.banner-tip > div
{
  /* min-height: 60px; */
  /* margin-bottom: 3%; */
  text-align: center;
}
.banner-tip > div > a
{
  width: 100%;
  color: #fff;
}

.product-info
{
  background-color: #fafafa;
  border-radius: 6px;
  margin: 0 15px;
  padding: 3%;
}
.product-info > div.buy
{
  justify-content: space-between;
}
.product-info > div.buy > div
{
  width: 50%;
}
.product-info > div.buy > div > form > button, .product-info > div.buy > div > a
{
  /* font-size: 56px;
  font-weight: 300; */
  width: 95%;
}
.product-info > div, .product-info > h1, .product-info > form
{
  margin-bottom: 5%;
}
.product-info > form
{
  /* background-color: #fff; */
  padding: 2% 0;
}
.product-info > form > div
{
  width: 45%;
  padding: 2% 0;
}
.product-info > form *
{
  width: 90%;
  line-height: 55px;
  font-size: 20px;
}
.product-info > div:last-child > ul.bullet-point *, .description > p
{
  margin: 2% 0;
}
.description
{
  padding: 2% 0;
}

/**************************************************/
/* module: login | create account | account       */
/**************************************************/
/* .account-login, .account-signup
{
  width: 100%;
  min-height: 60%;
  margin: 0 auto;
} */
.account-login > ul, .account-signup > ul
{
  padding: 5% 0;
  background: rgb(252, 252, 252);
  border-radius: 6px;
}
.account-login > ul > li, .account-signup > ul > li
{
  width: 30%;
  margin: 1% auto;
  /* border: 1px solid #ff0000; */
}
.account-login > ul > li > input[type="text"], .account-signup > ul > li > input[type="text"]
{
  width: 96%;
  height: 39px; 
  background-color: #fff;
  border: 1px solid #ccc; 
  color: #aaa; 
  margin: auto;
  padding-left: 3%;
}
.account-login > ul > li > input[type="text"]:focus, .account-signup > ul > li > input[type="text"]:focus
{
  /* width:95%;  */
  height: 39px;
  background-color: #fff;
  border: 1px solid  rgb(254, 252, 252);
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #333;
  padding-left: 3%;
}

button[id="login"],  button[id="createAccount"]
{
  display: block;
  width: 100%;
  height: 39px;
  border: 1px solid rgb(126, 197, 149, 0.6);
  border-radius: 6px;
  background-color: rgb(126, 197, 149, 0.6);
  color: #fff;
  cursor: pointer;
}
.login-btn, .createaccount-btn
{
  display: block;
  width: 90%;
  height: 35px;
  line-height: 35px;
  border-radius: 6px;
  background-color: rgb(126, 197, 149, 0.9);
  margin: 5%;
  color: #fff;
}
.login-btn:hover, .createaccount-btn:hover
{
  background-color: rgb(126, 197, 149, 0.6);
  color: #fff;
}
.account-coupon
{
  background-color: #fafafa;
  padding: 2% 0;
}
.account-coupon > div
{
  min-height: 260px;
}
.account-coupon > div > div
{
  margin-top: 3%;
}
.account-coupon > div > div:nth-child(3) > div
{
  width: 50%;
  /* margin-right: 5%; */
}
.account-coupon > div > div:nth-child(3) > div > .-btn-
{
  width: 50%;
  margin: 1% auto;
}

.account-coupon-card
{
  margin-right: 2%;
  width: 18%;
  border-radius: 8px;
  background:rgb(57, 157, 244, 0.2); 
  
  text-align: center;
  position: relative;
}
.account-coupon-card > div:first-child
{
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  /* margin-top: 5%; */
}
.account-coupon-card > div:last-child
{
  margin: 3% 0;
  /* margin-top: 5%; */
}
.account-coupon-card > span
{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 22px;
}
/*********************************************************/
/* Widget: btn | input | checkbox | text | alert | form  */
/*********************************************************/
.-btn-
{
  display: block;
  /* min-width: 100px; */
  min-height: 50px;
  line-height: 50px;
  padding: 1%;
  border-radius: 6px;
  border: none;
  background-color: rgba(126, 197, 149, 0.6);
  color: #fff;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.-btn-:hover, .-btn-:hover
{
  background-color: rgb(126, 197, 149, 0.9);
  color: #fff;
}
/* a.-btn-
{
  display: block;
  width: 99%;
  height: 100px;
  line-height: 100px;
  border-radius: 6px;
  background-color: rgba(126, 197, 149, 0.6);
  color: #fff;
  text-align: center;
} */
/* 
form-login-signUp
*/

/* txt */
/* .article
{

} */
.display-row-3
{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3; 
  padding: 2px 0;
}

.cart-list > div:last-child
{
  margin: 5% 0;
}
/* .bag:hover+.account-list
{
  display: block;
} */
.learnMore
{
  display: block;
  /* width: 130px; */
  width: 30%;
  height: 39px;
  line-height: 39px;
  border-radius: 18px;
  background-color: rgba(126, 197, 149, 0.8);
  font-size: 20px;
  font-weight: 350;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
/* 
my-cart card --start
*/
.-select-
{
  border: 1px solid rgb(239, 239, 239);
  border-radius: 6px;
}
.-select-:hover, .-select-:visited
{
  /* max-width: 100%; */
  border-radius: 6px;
  border: 1px solid rgb(122, 158, 125);
  /* background-color: #fcfcfc; */
  cursor: pointer;
}
.shipping
{
  margin: 3% 0;
}
.shipping > div, .id-information > div, #edit-shipping > div > div, #edit-ID > div > div
{
  width: 25%;
  /* height: 200px;  */
  padding-bottom: 2%;
}
.shipping > div > div > span, .id-information > div > div > span
{
  display: block;
  margin-top: 2%;
  font-size: 18px;
}
#edit-shipping > div > div:first-child, #edit-ID > div > div:first-child
{
  height: 100px;
}
#edit-shipping > div > div:first-child *, #edit-ID > div > div:first-child *
{
  display: block;
  width: 80%;
  height: 55px;
}
#edit-shipping > div > div[onclick="widget('close')"], #edit-ID > div > div[onclick="widget('close')"]
{
  text-align: end;
  font-size:35px;
  cursor: pointer;
}

/* 
my-cart card --end
*/
.radius-style > div
{
  border-radius: 8px;
  border: 1px solid rgb(239, 239, 239);
  background-color: #fcfcfc;
}
.promote-sku
{
  padding: 5% 0;
}
.promote-sku > div
{
  width: 50%;
  height: 500px;
}
.promote-sku > div > img
{
  width: 60%;
}
.promote-sku > div:first-child
{
  text-align: center;
}
.promote-sku > div:last-child > div
{
  margin-bottom: 5%;
}
.buyOnAmazon
{
  font-size: 22px;
  color: #000fff;
  text-decoration: underline;
}
/* .products
{
  background-color: #fcfcfc;
  padding: 1%;
}
.products > div
{
  background-color: #fff;
  border-radius: 6px;
  padding: 3%;
} */
button:hover
{
  background-color: rgb(126, 197, 149, 0.9);
}

/* footer > div > div
{
  margin: 1% 0;
} */
footer > div > div > div
{
  margin-right: 5%;
}





/***************************************************/
/* Screen: for mobile, width under 980px           */
/***************************************************/
@media screen and (max-width:980px)
{
  .nav-plus
  {
    display: none;
  }
  .nav-mini
  {
    display: block;
  }
  /* .bag
  {
    background: url('/static/image/ico/shpping-bag-mob.png') no-repeat 45px 45px;
    display: block;
    width: 150px;
    height: 150px;
  } */
  .character
  {
    background: url('/static/image/ico/shpping-character-mob.png') no-repeat 45px 45px;
    display: block;
    width: 150px;
    height: 150px;
  }
  .bag
  {
    background: url('/static/image/ico/shpping-bag-mob.png') no-repeat 45px 45px;
    display: block;
    width: 150px;
    height: 150px;
  }
  .cart
  {
    background: url('/static/image/ico/shpping-cart-mob.png') no-repeat 45px 45px;
    display: block;
    width: 150px;
    height: 150px;
  }


  .banner-tip
  {
    position: relative; 
    top: 15%; 
    left: 12%; 
    width: 70%; 
    height: 30%; 
    padding: 3%;
    /* background: rgb(0, 0, 0, 0.2);
    border-radius: 10px; */
    color: #fff;
  }
  .banner-tip > div
  {
    min-height: 60px;
    margin-bottom: 5%;
    text-align: center;
  }
  .learnMore
  {
    width: 50%;
    height: 100px;
    font-size: 56px;
    line-height: 100px;
    border-radius: 30px;
  }
  /* .promote-skuproducts
  {
    height: 500px;
    padding: 10% 0;
  } */
  .promote-sku > div
  {
    width: 50%;
    /* margin: 5%; */
    /* height: 400px; */
  }
  .promote-sku > div > img
  {
    width: 90%;
  }
  .promote-sku > div:last-child > div
  {
    min-height: 100px;
  }
  .buyOnAmazon
  {
    font-size: 42px;
    color: #000fff;
    text-decoration: underline;
  }
  .products
  {
    background-color: #fafafa;
    padding: 3%;
    /* border-radius: 16px; */
  }
  .products > div
  {
    background-color: #fff;
    border-radius: 16px;
    padding: 5%;
  }
  .products > div > div
  {
    min-height: 100px;
  }
  .products > div > div > a
  {
    display: block;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3; 
    padding: 2px 0;
  }
  .products > div:last-child
  {
    display: none;
  }
  .product-info > div > h1
  {
    font-size: 52px;
    font-weight: bold;
    line-height: 52px;
  }
  .product-info > .buy
  {
    justify-content: space-between;
  }
  .product-info > div
  {
    min-height: 100px;
  }
  .product-info > .buy > div
  {
    width: 49%;
  }
  .product-info > div.buy > div > form > button, .product-info > div.buy > div > a
  {
    font-size: 56px;
    font-weight: 300;
    width: 100%;
  }
  .product-info > div:last-child > ul.bullet-point > li
  {
    margin: 2% 0;
  }
  .product-info > div:last-child > ul.bullet-point *, .description > p
  {
    font-size: 39px;
    line-height: 39px;
  }
  .description
  {
    padding: 2%;
  }

  /* products start */
  .products-shelf h3
  {
    font-size: 36px;
    line-height: 36px;
  }
  /* products end */

  .account-login > ul, .account-signup > ul
  {
    /* width:90%; */
    margin: 5% 2%;
    /* border: #000 solid 1px; */
  }
  .account-login > ul > li,  .account-signup > ul > li
  {
    width: 80%;
    margin: 5% auto;
    /* border: #000 solid 1px; */
  }
  .account-login > ul > li > *,  .account-signup > ul > li > *
  {
    font-size: 56px;
  }
  .account-login > ul > li > input[type="text"], .account-signup > ul > li > input[type="text"]
  {
    width: 93%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc; 
    color: #aaa; 
  }
  .account-login > ul > li > input[type="text"]:focus, .account-signup > ul > li > input[type="text"]:focus
  {
    height: 150px;
    background-color: #fff;
    border-bottom: 1px solid #ccc; 
    outline: none;
    color: #333;
  }
  button[id="login"],  button[id="createAccount"]
  {
    display: block;
    width: 100%;
    height: 150px;
    line-height: 150px;
    border: 1px solid rgb(126, 197, 149, 0.6);
    border-radius: 6px;
    background-color: rgb(126, 197, 149, 0.6);
    color: #fff;
    cursor: pointer;
  }

  .account-coupon > div > div
  {
    line-height: 66px;
    font-size: 56px;
    margin-top: 5%;
  }
  .account-coupon > div > div:nth-child(3) > div
  {
    width: 100%;
    padding: 1%;
  }
  .account-coupon > div > div:nth-child(3) > div > p
  {
    line-height: 39px;
    font-size: 39px;
  }
  .account-coupon > div > div:nth-child(3) > div > a
  {
    font-size: 39px;
  }
  .account-coupon-card
  {
    padding: 1% 5%;
    margin: 2%;
    width: 36%;
    border-radius: 8px;
    background:rgb(57, 157, 244, 0.2); 
    text-align: center;
    position: relative;
  }
  .account-coupon-card > div:nth-child(1)
  {
    height: 88px;
    line-height: 88px;
    font-size: 88px;
    /* margin-top: 5%; */
  }
  .account-coupon-card > div:nth-child(2)
  {
    margin: 2% 0;
    /* margin-top: 5%; */
  }
  .account-coupon-card > span
  {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 3%;
    font-size: 42px;
  }
  .-btn-
  {
    display: block;
    /* min-width: 100px; */
    min-height: 100px;
    line-height: 100px;
    padding: 1%;
    border-radius: 6px;
    border: none;
    background-color: rgba(126, 197, 149, 0.6);
    color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .-btn-:hover, .-btn-:hover
  {
    background-color: rgb(126, 197, 149, 0.9);
    color: #fff;
  }
  .shipping
  {
    margin: 5% 0;
  }
  .shipping > div, .id-information > div
  {
    width: 30%;
    /* height: 200px;  */
    padding-bottom: 2%;
  }
  .shipping > div > div > span, .id-information > div > div > span
  {
    display: block;
    margin-top: 2%;
    font-size: 36px;
  }
  #edit-shpping > div:nth-child(1)
  {
    flex-direction: row-reverse;
  }
  #edit-shipping > div > div:first-child *, #edit-ID > div > div:first-child *
  {
    width: 50%;
    line-height: 100px;
  }
  #edit-shipping > div > div,   #edit-ID > div > div
  {
    width: 100%;
    margin: 3% 0;
  }
  #edit-shipping > div > div:last-child, #edit-ID > div > div:last-child
  {
    height: 300px;
    text-align: end;
    font-size: 55px;
    cursor: pointer;
  }
  #edit-shipping > div > div > div > input, #edit-ID > div > div > div > input
  {
    width: 90%;
    height: 100px;
  }

  footer > div > div
  {
    margin-bottom: 5%;
    flex-direction: column
  }
  footer > div > div > div
  {
    margin-bottom: 5%;
  }
}



/*************************************************
Screen: for PC, width above 980px
 *************************************************/
@media screen and (min-width:981px)
{

}
/*************************************************LINE*************************************************/





