@import 'fonts.css';
@import 'layout.css';
@import 'module.css';

/* 
main.css
html > body > div > h1 > p > ul > li > a > img

module.css
button | input | text | widget-btn

layout.css
wrap > container > grid
*/



.brand-plus
{
  width: 200px;
  height: 35px;
  margin-top: 10px;
  display: block;
  background: url('../image/ico/mamleo-200-35-03.png') no-repeat -6px;
  border-radius: 3px;
}
.brand-mini
{
  width: 570px;
  height: 100px;
  display: block;
  background: url('../image/ico/mamleo-200-100.png') no-repeat;
  border-radius: 10px;
}
.brand-logo
{
  background: url('../image/ico/mamleo-200-35-01.png') no-repeat;
}

.product-info
{
  background-color: #fafafa;
  border-radius: 6px;
  margin: 0 15px;
  padding: 3%;
}
/* products-shelf & product-info start */
.product-info > div, .product-info > h1, div > p
{
  margin-bottom: 5%;
}
/* products-shelf & product-info end */
.nav-plus
{
  display: grid;
}
.nav-plus
{
  height: 55px;
  margin: 0 auto;
  /* logo:200px nav:1fr account:70px */
  /* grid-template-columns: 200px 1fr 70px; */
  grid-template-columns: auto 1fr auto;
}
.nav-mini
{
  height: 150px;
  margin: 0 auto;
  position: relative;
}
.nav-mini > ul
{
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}
.nav-mini > ul *
{
  text-align: center;
  margin: auto;
  line-height: 150px;
}
.nav-mini
{
  display: none;
}

ul.nav-app-list
{
  width: 100%;
  justify-content: flex-end;
  margin-right: 3%;
}
ul.nav-app-list > li{
  width: 10%;
  
}
ul.nav-app-list *
{
  text-align: center;
  line-height: 55px;
  margin: 0;
}

ul.nav-app-list > li  > a
{
  color: rgb(95, 147, 112);
}
ul.nav-app-list > li > a:hover
{
  /* color: #ff6666; */
  color: rgb(51, 95, 66);
  font-size: large;
}
.account
{
  line-height: 55px;
  position: relative;
}
.account > .account-list
{
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}
.account > .account-list > div
{
  border-radius: 6px;
  text-align: center;
  background-color: #fafafa;
  padding: 1% 0;
  margin-top: 10%;
}
.account > .account-list > div > div
{
  background-color: #fff;
  margin: 3%;
  padding: 2%;
}
.account > .account-list > div > span, .account > .account-list > div > div > a
{
  display: block;
  /* border-bottom: 1px solid #ccc; */
}
.account > .account-list > div > div > a
{
  text-align: left;
  padding-left: 6%;
  
}
.account > .account-list > div > div > a:hover
{
  background-color: #fefefe;
  color: #000;
  text-decoration-line: underline;
}
.account > .account-list > .account-online > span, .account > .account-list > .account-online > div > a
{
  height: 30px;
  line-height: 30px;
}
.account > .account-list > .account-online > div > a
{
  font-size: 14px;
}
.nav-mini > .nav-app-list
{
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0;
  width: 100%;
  padding-bottom: 8%;
  background-color: rgb(126, 197, 149, 0.95);
  display: none;
}
.nav-mini > .nav-app-list > a
{
  display: block;
  width: 65%;
  height: 150px;
  line-height: 150px;
  font-size: 56px;
  margin: 0 15%;
}
.nav-mini > .nav-app-list > a:first-child
{
  width: 150px;
  margin: 0;
  text-align: center;
}
.nav-mini > .account-list
{
  position: absolute;
  z-index: 1;
  top: 160px;
  right: 1%;
  width: 50%;
  border-radius: 10px;
  padding: 2%;
  background-color: rgba(239, 239, 239, 1);
  display: none;
}
.nav-mini > .account-list > a, .nav-mini > .account-list > .account-online > a
{
  display: block;
  width: 95%;
  height: 100px;
  line-height: 100px;
  font-size: 48px;
  padding-left: 5%;
}
.nav-mini > .account-list > div
{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5%;
  padding: 3%;
}
.nav-mini > .account-list > span
{
  display: block;
  text-align: center;
  margin-bottom: 5%;
  font-size: 48px;
}

.login-btn, .createaccount-btn
{
  display: block;
  width: 90%;
  height: 35px;
  line-height: 35px;
  border-radius: 6px;
  background-color: rgb(126, 197, 149, 0.9);
  margin: 5%;
  color: #fff;
}
.login-btn:hover, .createaccount-btn:hover
{
  background-color: rgb(126, 197, 149, 0.6);
  color: #fff;
}
.-focus-
{
  /* border-bottom: 3px solid #ff6666; */
  /* font-weight: bold; */
  color: rgb(51, 95, 66);
  font-size: large;
}
.display-block
{
  display: block;
}

/* 
widget
*/
.banner-tip
{
  position: relative; 
  top: 25%; 
  left: 25%; 
  width: 50%; 
  height: 50%; 
  background: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #fff;
}
.banner-tip > div
{
  /* min-height: 60px; */
  margin-bottom: 3%;
  text-align: center;
}
.banner-tip > div:first-child
{
  padding-top: 2%;
}

/*************************************************LINE*************************************************/
/*************************************************
Widget: btn | input | checkbox | text | alert | form
 *************************************************/

.-btn-
{
  display: block;
  /* width: 200px; */
  height: 55px;
  line-height: 55px;
  border-radius: 6px;
  border: none;
  background-color: rgba(126, 197, 149, 0.6);
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.learnMore:hover, .-btn-:hover, .-btn-:hover
{
  background-color: rgb(126, 197, 149, 0.9);
  color: #fff;
}
/* 
form-login-signUp
*/
.account_login, .account_signup
{
  width: 100%;
  min-height: 60%;
  margin: 0 auto;
}
/* txt */
/* .article
{

} */
.display-row-3
{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3; 
  padding: 2px 0;
}
.bag
{
  background: url('/static/image/ico/shpping-bag.png') no-repeat 5px 15px;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 10px;
  /* float: right; */
}
/* .bag:hover+.account-list
{
  display: block;
} */
.learnMore
{
  display: block;
  /* width: 130px; */
  width: 30%;
  height: 39px;
  line-height: 39px;
  border-radius: 18px;
  background-color: rgba(126, 197, 149, 0.8);
  font-size: 20px;
  font-weight: 350;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
/* 
my-cart card --start
*/
.-select-
{
  border: 1px solid rgb(239, 239, 239);
  border-radius: 6px;
}
.-select-:hover, .-select-:visited
{
  /* max-width: 100%; */
  border-radius: 6px;
  border: 1px solid rgb(122, 158, 125);
  /* background-color: #fcfcfc; */
  cursor: pointer;
}
/* 
my-cart card --end
*/
.radius-style > div
{
  border-radius: 8px;
  border: 1px solid rgb(239, 239, 239);
  background-color: #fcfcfc;
}
.promote-sku
{
  padding: 10% 0;
}
.promote-sku > div
{
  width: 50%;
  height: 500px;
}
.promote-sku > div:first-child
{
  text-align: center;
}
.promote-sku > div:last-child > div
{
  margin-bottom: 5%;
}
.buyOnAmazon
{
  font-size: 22px;
  color: #000fff;
  text-decoration: underline;
}
/* .products
{
  background-color: #fcfcfc;
  padding: 1%;
}
.products > div
{
  background-color: #fff;
  border-radius: 6px;
  padding: 3%;
} */
/*************************************************LINE*************************************************/
/*************************************************
Screen: for mobile, width under 980px
 *************************************************/
@media screen and (max-width:980px)
{
  .banner-tip
  {
    position: relative; 
    top: 25%; 
    left: 13%; 
    width: 70%; 
    height: 30%; 
    padding: 30px;
    background: rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;
  }
  .banner-tip > div
  {
    /* min-height: 60px; */
    padding: 10px;
    text-align: center;
  }
  .bag
  {
    background: url('/static/image/ico/cartbag.png') no-repeat 45px 45px;
    display: block;
    width: 150px;
    height: 150px;
  }
  .widget-btn
  {
    display: block;
    width: 98%;
    height: 100px;
    line-height: 100px;
    border-radius: 16px;
    background-color: rgba(126, 197, 149, 0.8);
    color: #fff;
    text-align: center;
  }
  a.btn
  {
    display: block;
    width: 99%;
    height: 100px;
    line-height: 100px;
    border-radius: 6px;
    background-color: rgba(126, 197, 149, 0.6);
    color: #fff;
    text-align: center;
  }
  /* index.html */
  .learnMore
  {
    width: 36%;
    height: 60px;
    line-height: 50px;
    border-radius: 30px;
  }
  .promote-sku
  {
    height: 500px;
    padding: 10% 0;
  }
  .promote-sku > div
  {
    width: 50%;
    /* margin: 5%; */
    height: 400px;
  }
  .promote-sku > div:last-child > div
  {
    margin-bottom: 10%;
  }
  .buyOnAmazon
  {
    font-size: 42px;
    color: #000fff;
    text-decoration: underline;
  }
  .products
  {
    background-color: #f5f5f5;
    padding: 3%;
    /* border-radius: 16px; */
  }
  .products > div
  {
    background-color: #fff;
    border-radius: 16px;
    padding: 5% 5% 15% 5%;
  }
  .products > div > div > a
  {
    display: block;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3; 
    padding: 2px 0;
  }
  .products > div:last-child
  {
    display: none;
  }
  .product-info > div > h1
  {
    font-size: 52px;
    font-weight: bold;
    line-height: 52px;
  }
  /* products start */
  .products-shelf h3
  {
    font-size: 36px;
    line-height: 36px;
  }
  /* products end */
  .account_login > ul, .account_signup > ul
  {
    width:80%;
    margin: 10px 10%;
    padding: 10px 0;
  }
  .account_login > ul > li
  {
    margin: 5% 0;
  }
  .account_login > ul > li > input[type="text"], .account_signup > ul > li > input[type="text"]
  {
    width:96%; 
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc; 
    color: #aaa; 
    padding-left: 3%;
    /* margin: 0 2.5%; */
  }
  .account_login > ul > li > input[type="text"]:focus, .account_signup > ul > li > input[type="text"]:focus
  {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc; 
    border-top: none; 
    border-left: none; 
    border-right: none; 
    outline: none;
    color: #333;
    padding-left: 3%;
  }
  button[id="login"]
  {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border: 1px solid rgb(126, 197, 149, 0.6);
    border-radius: 6px;
    background-color: rgb(126, 197, 149, 0.6);
    color: #fff;
    cursor: pointer;
  }

  .nav-plus
  {
    display: none;
  }
  .nav-mini
  {
    display: block;
  }
}



/*************************************************
Screen: for PC, width above 980px
 *************************************************/
@media screen and (min-width:981px)
{
  .account_login > ul,.account_signup > ul
  {
    width:80%;
    margin: 10px 10%;
    padding: 60px 0;
    background: rgb(252, 252, 252);
    border-radius: 6px;
  }
  .account_login > ul > li, .account_signup > ul > li
  {
    margin: 10px 30%;
  }
  .account_login > ul > li > input[type="text"], .account_signup > ul > li > input[type="text"]
  {
    width:95%; 
    height: 35px; 
    background-color: #fff;
    border: 1px solid #ccc; 
    color: #aaa; 
    /* font-size: 18px; */
    padding-left: 3%;
  }
  .account_login > ul > li > input[type="text"]:focus, .account_signup > ul > li > input[type="text"]:focus
  {
    width:95%; 
    height: 35px; 
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc; 
    border-top: none; 
    border-left: none; 
    border-right: none; 
    outline: none;
    color: #333;
    /* font-size: 18px; */
    padding-left: 3%;
  }
  button[id="login"],  button[id="createAccount"]
  {
    display: block;
    width: 99%;
    height: 39px;
    /* line-height: 38px; */
    border: 1px solid rgb(126, 197, 149, 0.6);
    border-radius: 6px;
    background-color: rgb(126, 197, 149, 0.6);
    color: #fff;
    cursor: pointer;
  }
}
/*************************************************LINE*************************************************/



button:hover
{
  background-color: rgb(126, 197, 149, 0.9);
}

