<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">

            <div class="grid-container no-margin">
                <img src="/static/image/brand/ME AND MR. LEO.png">
                <img src="/static/image/brand/TRENOVKR.jpg">
            </div>

            <div>
                <p>Driven by Decor</p>
                <p>Aim to design and produce creative and useful home accessories, hopefully that we can brighten up your everyday life.</p>
                <p>Strive to make every product joyful and meaningful to bring you enjoyment and happiness.</p>
                <p>Committed to provide each customer with a great shopping experience.</p>
            </div>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>