<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">

            <div class="grid-container no-margin">
                <img src="/static/image/brand/ME AND MR. LEO.png">
                <img src="/static/image/brand/TRENOVKR.jpg">
            </div>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>