<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <main>
        <div class="container flex-container" style="border-bottom: 2px solid rgb(125, 181, 131);">
            <div style="width: 50%; height: 50px; line-height: 50px;"><h1>Account</h1></div>
            <div style="width: 50%; height: 50px; line-height: 50px;"><a style="color: cornflowerblue; float: right;" href="logout">Sign out ></a></div>
        </div>
    </main>

    <div class="wrap">
        <div class="container flex-container">
            <h1>Hi, {{ user_name }}.</h1>
        </div>
    </div>

    <div class="wrap">
        {% if bag %}
        <div class="container">
            <h1>Your WishList</h1>
            <div class="flex-container" style="margin-top: 5%;">
                {% for product_info in product_info %}
                <div style="height: 200px; width: 200px; margin: 1%; padding: 1%;">
                    <a href=""><img src="{{ product_info.first_img }}" /></a>
                </div>
                {% endfor %}
            </div>
            
        </div>
        {% else %}
        <div class="container flex-container">
            <p style="padding-top: 10px;">Your WishList is empty. </p>&nbsp;&nbsp;&nbsp;<a style="color: cornflowerblue; text-decoration-line: underline;" href="/products"><h2>Shopping Now</h2></a>
        </div>
        {% endif %}
    </div>

    <div class="wrap account-coupon">
        <div class="container">
            <h1>Your Coupon</h1>
            <!-- <div class="flex-container" style="margin-top: 3%; justify-content: space-between;"> -->
            <div class="flex-container">
                {% if user_coupon %}
                {% for coupon in user_coupon %}
                <div class="account-coupon-card">
                    <div>
                        {% if coupon.type_cash %}
                        ${{ coupon.type_cash }}
                        {% else %}
                        {% widthratio coupon.type_percentage 1 100 %}%
                        {% endif %}
                    </div>
                    <div>{{ coupon.coupon_code }}</div>
                    <span>off</span>
                </div>
                {% endfor %}
                {% else %}
                <div>COMING SOON</div>
                {% endif %}
            </div>
            <!-- <div class="flex-container">
                <div>
                    <p>Coupon Code should be pushed to your account, in every Month. If your coupon code is invalid, please tell us by Email. We will resend the new coupon code to your account and email.</p>
                </div>
                <div><a href="" class="-btn-">Send Email to Us</a></div>
            </div> -->
        </div>
    </div>

    <div class="wrap">
        <div class="container">
            <h1>Account Settings</h1>
            <div class="shipping flex-container">
                <div>
                    <h2>Shipping</h2>
                    <a onclick="widget('editShipping')" style="color: cornflowerblue; text-decoration-line: underline; cursor: pointer;">Edit</a>
                    <!-- <a href="myAccount&=edit" style="color: cornflowerblue; text-decoration-line: underline;">Edit</a> -->
                </div>
                <div>
                    <h3>Shipping address</h3>
                    {% if user_account.first_name %}
                    <div><span>{{ user_account.first_name }} {{ user_account.last_name }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">Name</span></div>
                    {% endif %}
                    {% if user_account.address %}
                    <div><span>{{ user_account.address }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">Address</span></div>
                    {% endif %}
                    {% if user_account.street %}
                    <div><span>{{ user_account.street }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">Street</span></div>
                    {% endif %}
                    {% if user_account.city %}
                    <div><span>{{ user_account.city }} {{ user_account.code }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">City & Code</span></div>
                    {% endif %}
                    {% if user_account.country %}
                    <div><span>{{ user_account.country }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">Country</span></div>
                    {% endif %}
                    <!-- {% if user_account.phone %}
                    <div><span>{{ user_account.phone }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">Phone Number</span></div>
                    {% endif %} -->
                </div>
                <div>
                    <h3>Contact information</h3>
                    <div><span>{{ user_account.email }}</span></div>
                    <!-- {% if user_account.phone %}
                    <div><span>{{ user_account.phone }}</span></div>
                    {% else %}
                    <div><span style="color: #ccc;">Phone Number</span></div>
                    {% endif %} -->
                </div>
            </div>
            <form id="edit-shipping" action="/account&=edit-shipping" method="post" style="display: none;">
            <!-- <form class="login" action="/JAL/myAccount&=edit-done" method="post"> -->
                {%csrf_token%}
                <div class="flex-container" style="background: #fafafa; padding: 2%; margin-bottom: 5%; border-radius: 6px;">
                    <div class="flex-container">
                        <h2>Shipping</h2>
                        <button class="-btn-" type="submit">Commit</button>
                    </div>
                    <div>
                        <h3>Shipping address</h3>
                        <div>FirstName</div>
                        <div><input id="" type="text" name="first_name" value="{{ user_account.first_name }}"></div>
                        <div>LastName</div>
                        <div><input id="" type="text" name="last_name" value="{{ user_account.last_name }}"></div>
                        <div>Address</div>
                        <div><input id="" type="text" name="address" placeholder="Address:" value="{{ user_account.address }}"></div>
                        <div>Street</div>
                        <div><input id="" type="text" name="street" value="{{ user_account.street }}"></div>
                        <div>City</div>
                        <div><input id="" type="text" name="city" value="{{ user_account.city }}"></div>
                        <div>Code</div>
                        <div><input id="" type="text" name="code" value="{{ user_account.code }}"></div>
                        <div>Country</div>
                        <div><input id="" type="text" name="country" value="{{ user_account.country }}"></div>
                    </div>
                    <div>
                        <h3>Contact information</h3>
                        <div>{{ user_account.email }}</div>
                        <!-- <div>Phone Number</div>
                        <div><input id="" type="text" name="phone" value="{{ user_account.phone }}"></div> -->
                    </div>
                    <div onclick="widget('close')">X</div>
                </div>
            </form>
            <!-- <div class="flex-container">
                <div style="height: 200px; width: 25%;">
                    <h2>Payment</h2>
                </div>
                <div style="height: 200px; width: 25%; padding-top: 5px;">
                COMMING SOON...
                </div>
            </div> -->
            <div class="flex-container id-information">
                <div>
                    <h2>ID Information</h2>
                    <a onclick="widget('editID')" style="color: cornflowerblue; text-decoration-line: underline; cursor: pointer;">Edit</a>
                </div>
                <div>
                    <div><span>{{ user_name }}</span></div>
                    <div><span>{{ user_account.email }}</span></div>
                </div>
            </div>
            <form id="edit-ID" action="/account&=edit-id" method="post" style="display: none;">
            <!-- <form class="login" action="/JAL/myAccount&=edit-done" method="post"> -->
                {%csrf_token%}
                <div class="flex-container" style="background: #fafafa; padding: 2%; margin-bottom: 5%; border-radius: 6px;">
                    <div class="flex-container">
                        <h2>ID Information</h2>
                        <button class="-btn-" type="submit">Commit</button>
                    </div>
                    <div>
                        <h3>Sign ID</h3>
                        <div>{{ user_account.email }}</div>
                        <div>Password</div>
                        <div><input id="" type="text" name="password" value="{{ user_account.password }}"></div>
                        <div>UserName</div>
                        <div><input id="" type="text" name="user_name" value="{{ user_account.user_name }}"></div>
                    </div>
                    <div onclick="widget('close')">X</div>
                </div>
            </form>
        </div>
    </div>

    {% include "footer.html" %}
    
</body>
</html>