<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <!-- <div class="container">
            <div class="card-standard no-margin min-height" style="background-image: url('{{ imgShow.1 }}'); background-size: 100%;">
                <div class="position">
                    <h1>{{ yes }}</h1>
                    {% for x in test %}
                        {{ x.email }}
                    {% endfor %}
                    
                </div>
            </div>
        </div> -->

        <!-- 
            commit listing data done
         -->
        <div class="container">
            <ul>
                <li><a style="font-size: 20px;" href="{{ manager }}">Manager ProductList</a></li>
                <li><a style="font-size: 20px;" href="{{ edit_index }}">Edit Index</a></li>
            </ul>
            
        </div>
        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>