<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>

</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            
            <!-- <form class="login" action="/JAL/coupon&=public-done" method="post"> -->
            <form class="login" action="{{ nav_admin.CouponRelease }}=create-done" method="post">
                {%csrf_token%}
                <br>
                <div class="container" style="border: 1px dashed #ff8800; border-radius: 6px;">
                    <div style="margin: 20px;">
                        <a style="margin: 10px;" href="{{ nav_admin.Dashboard }}">Dashboard</a>
                        <span>/</span>
                        <a style="margin: 10px;" href="{{ nav_admin.CouponRelease }}">Coupon Released</a>
                        <span>/</span>
                        <span style="margin: 10px;">Create Coupon ></span>
                        <button id="" type="submit">Commit</button>
                    </div>
                </div>
                <br>
                <fieldset>
                    <legend>Create Coupon</legend>
                    <div class="asin">
                        Title: <input id="" type="text" name="title" value="">
                    </div>
                    <div class="asin">
                        Code: <input id="" type="text" name="code" value="">
                    </div>
                    <div class="asin">
                        <input type="radio" id="2" name="cash" value="2" checked />
                        <label for="2">$ 2.00</label>
                    </div>
                    <div class="asin">
                        <input type="radio" id="5" name="cash" value="5" />
                        <label for="5">$ 5.00</label>
                    </div>
                </fieldset>
                <ul>
                    <!-- <li>Title: <input id="" type="text" name="title" value="{{ Hello_world }}"></li>
                    <li>Code: <input id="" type="text" name="code" value="{{ Hello_world }}"></li> -->
                    <!-- <fieldset>
                        <legend>Choose Asin</legend>
                      
                        <div class="asin">
                          <input type="checkbox" id="B0C2BXYS94" name="asin" value="B0C2BXYS94" checked />
                          <label for="B0C2BXYS94">B0C2BXYS94</label>
                        </div>
                      
                        <div class="asin">
                          <input type="checkbox" id="B0BVYRJSZT" name="asin" value="B0BVYRJSZT" checked />
                          <label for="B0BVYRJSZT">B0BVYRJSZT</label>
                        </div>
               
                    </fieldset>
                    <fieldset>
                        <legend>Choose Coupon Amount</legend>
                        
                        <div>
                            <input type="radio" id="2" name="cash" value="2" checked />
                            <label for="2">$ 2.00</label>
                        </div>
                        
                        <div>
                            <input type="radio" id="5" name="cash" value="5" />
                            <label for="5">$ 5.00</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Choose Coupon Percentage</legend>
                      
                        <div>
                          <input type="radio" id="10" name="percentage" value="10" checked />
                          <label for="10">10%</label>
                        </div>
                      
                        <div>
                          <input type="radio" id="20" name="percentage" value="20" />
                          <label for="20">20%</label>
                        </div>
                    </fieldset>
                    <li>Start at: <input type="date" id="start" name="start_at" min="{{time_date}}" value="{{time_date}}" /></li>
                    <li>End at: <input type="date" id="start" name="end_at" min="{{time_date}}" value="{{time_date}}" /></li>
                    <fieldset>
                        <legend>Coupon Status</legend>
                      
                        <div>
                            <input type="radio" id="on" name="status" value="01" checked />
                            <label for="on">On</label>
                            </div>
                        
                            <div>
                            <input type="radio" id="off" name="status" value="00" />
                            <label for="off">Off</label>
                        </div>
                    </fieldset> -->
                </ul>
            </form>
            
        </div>


        
    </div>
    

    {% include "footer.html" %}
    
</body>
</html>