<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            
            <!-- <form class="login" action="/JAL/coupon&=public-done" method="post"> -->
            <form class="login" action="{{ nav_admin.Coupon }}=create-done" method="post">
                {%csrf_token%}
                <div style="align-content: center;">
                    <h1>{{ page_id }}</h1>
                </div>
                <ul>
                    <li><a href="{{ nav_admin.Coupon }}"><h3>< back coupon</h3></a><button id="" type="submit"><h3>Commit</h3></button></li>
                    <li>Title: <input id="" type="text" name="code" value="{{ Hello_world }}"></li>
                    <li>Code: <input id="" type="text" name="code" value="{{ Hello_world }}"></li>
                </ul>
            </form>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>