<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    
    <div class="wrap">
        <!-- <br>
        <div class="container">
            <input type="text" value="{{ title_01.bullet_point_01 }}">
        </div> -->
        
        <form class="login" action="/JAL/adminjessie&promote=create-done" method="post">
            {%csrf_token%}
            <br> 
            <div class="container" style="border: 1px dashed #ff8800; border-radius: 6px;">
                <div style="margin: 20px;">
                    <a style="margin: 10px;" href="{{ nav_admin.Dashboard }}">Dashboard</a>
                    <span>/</span>
                    <a style="margin: 10px;" href="{{ manage_promote }}">Manage Promote</a>
                    <span>/</span>
                    <span style="margin: 10px;">Create Promote ></span>
                    <button id="" type="submit">commit</button>
                </div>
            </div>
            
            <br>
            <div class="container">
                <!-- <b>id</b><h3><input style="font-size: 18px;" type="text" name="id" id="" value="{{ id.0.id }}" /></h3> -->
                <b>promote_type</b><h3><input style="font-size: 18px;" type="text" name="promote_type" id="" value="" /></h3>
                <b>promote_code</b><h3><input style="font-size: 18px;" type="text" name="promote_code" id="" value="" /></h3>
                <h3><b>promote_img</b></h3>
                <textarea style="font-size: 18px;" name="promote_img" id="" cols="130" rows="2"></textarea>
                <h3><b>promote_url</b></h3>
                <textarea style="font-size: 18px;" name="promote_url" id="" cols="130" rows="2"></textarea>
                <h3><b>Title-01</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_01" id="" cols="130" rows="2"></textarea>
                <h3><b>Title-02</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_02" id="" cols="130" rows="2"></textarea>
                <h3><b>Title-03</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_03" id="" cols="130" rows="2"></textarea>
                <h3><b>ReleaseChannel</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_03" id="" cols="130" rows="2"></textarea>
            </div>
            <!-- <br>
            <div class="container products-shelf">
                <h3><input style="font-size: 18px;" type="text" name="id" id="" value="{{ id.1.id }}" /></h3>
                <h3><input style="font-size: 18px;" type="text" name="asin" id="" value="{{ asin.1.asin }}" /></h3>
                <h3><b>Title-01</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_01" id="" cols="130" rows="2">{{ bullet_point.1.bullet_point_01 }}</textarea>
                <h3><b>Title-02</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_02" id="" cols="130" rows="2">{{ bullet_point.1.bullet_point_02 }}</textarea>
            </div> -->
            <!-- <br>
            <div class="container products-shelf">
                <h3><input style="font-size: 18px;" type="text" name="asin" id="" value="{{ asin }}" /></h3>
                <h3><b>Title-01</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_01" id="" cols="130" rows="2">{{ bullet_point_01 }}</textarea>
                <h3><b>Title-02</b></h3>
                <textarea style="font-size: 18px;" name="bullet_point_02" id="" cols="130" rows="2">{{ bullet_point_02 }}</textarea>
            </div> -->
        </form>

    </div>

    {% include "footer.html" %}

</body>
</html>