<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">

            <form class="account_signup" action="/JAL/account=createAccount" method="post">
                {%csrf_token%}
                <!-- {{ form }} -->
                <div style="text-align: center; height: 60px; padding-top: 30px;">
                    <h1>{{ nav_account.createAccount.1 }}</h1>
                </div>
                <ul>
                    <!-- <label for="test">Your name: </label> -->
                    <li>
                        <input label="email" id="email" type="text" name="email" value="Email" onclick="verifyAccountInfo('accountClick')" onblur="verifyAccountInfo('accountOnblur')">
                        <!-- <span id="email_tips">{{ tips }}</span> -->
                        <span id="email_format" style="display:none">email format error</span>
                        {{ msg }}
                    </li>
                    <li>
                        <input label="password" id="password" type="text" name="password" value="Password" onclick="verifyAccountInfo('passWordClick')" onblur="verifyAccountInfo('passWordOnblur')">
                        <span id="password_tips">{{ tips }}</span>
                        <!-- <span id="password_tip" class="password_tip" style="display:none">email error</span> -->
                    </li>
                    <li>
                        <button id="createAccount" type="submit">{{ nav_account.createAccount.1 }}</button>
                    </li>
                    <li style="text-align: center;">
                        --or--
                    </li>
                    <li style="text-align: center;">
                        <a href="{{ nav_account.login.0 }}" class="btn">{{ nav_account.login.1 }}</a>
                    </li>
                </ul>
            </form>

        </div>

    </div>
    


    {% include "footer.html" %}
    
</body>
</html>