<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <!-- <div class="container">
            <div class="card-standard no-margin min-height" style="background-image: url('{{ imgShow.1 }}'); background-size: 100%;">
                <div class="position">
                    <h1>{{ yes }}</h1>
                    {% for x in test %}
                        {{ x.email }}
                    {% endfor %}
                    
                </div>
            </div>
        </div> -->

        <!-- 
            commit listing data done
         -->

        <div class="container">
            <div style="margin: 20px 0 20px 0;"><h1>{{ tips }}</h1></div>
            
            <div style="margin: 20px 0 20px 0;">
                <a style="font-size: 20px;" href="{{ products }}" target="_blank">Shopping</a> | 
                <a style="font-size: 20px;" href="{{ admin }}">Check Aount</a>
            </div>
            <div><img src="{{ img }}" alt=""></div>
        </div>

        <div class="container">
            <div style="margin: 20px 0 20px 0;"><h1>{{ tag }}{{ status }}</h1></div>
            
            <div style="margin: 20px 0 20px 0;">
                <a style="font-size: 20px;" href="{{ view }}" target="_blank">View</a> | 
                <a style="font-size: 20px;" href="{{ again }}">Again</a> | 
                <a style="font-size: 20px;" href="{{ admin }}">Back to ...</a>
            </div>
            <div><img src="{{ img }}" alt=""></div>
        </div>
        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>