<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">
        <!-- commit listing data done -->
        {% if account_create %}
        <div class="container">
            <div style="margin: 20px 0 20px 0;"><h1>{{ tips }}</h1></div>
            
            <div style="margin: 20px 0 20px 0;">
                <a style="font-size: 20px;" href="{{ products }}" target="_blank">Shopping</a> | 
                <a style="font-size: 20px;" href="{{ admin }}">Check Aount</a>
            </div>
            <div><img src="{{ img }}" alt=""></div>
        </div>

        {% elif account_edit %}
        <div class="container">
            <div style="margin: 20px 0 20px 0;"><h1>{{ tag }}{{ status }}</h1></div>
            
            <div style="margin: 20px 0 20px 0;">
                <a style="font-size: 20px;" href="{{ view }}" target="_blank">View</a> | 
                <a style="font-size: 20px;" href="{{ again }}">Again</a>
            </div>
            <div><img src="{{ img }}" alt=""></div>
        </div>

        {% elif admin_index %}
        <div class="container">
            <div style="margin: 20px 0 20px 0;"><h1>{{ tag }}{{ status }}</h1></div>
            
            <div style="margin: 20px 0 20px 0;">
                <a style="font-size: 20px;" href="{{ view }}" target="_blank">View</a> | 
                <a style="font-size: 20px;" href="{{ again }}">Again</a>
            </div>
            <div><img src="{{ img }}" alt=""></div>
        </div>

        {% elif admin_listing %}
        <div class="container">
            <div style="margin: 20px 0 20px 0;"><h1>{{ tag }}{{ status }}</h1></div>
            
            <div style="margin: 20px 0 20px 0;">
                <a style="font-size: 20px;" href="{{ view }}" target="_blank">View</a> | 
                <a style="font-size: 20px;" href="{{ again }}">Again</a> | 
                <a style="font-size: 20px;" href="{{ edit_listing }}">Back to ...</a>
            </div>
            <div><img src="{{ img }}" alt=""></div>
        </div>
        {% endif %}
    </div>
    

    {% include "footer.html" %}
    
</body>
</html>