<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            <a href="{{ nav_admin.Coupon }}=create"><h3>Create Coupon</h3></a><a style="font-size: 20px;" href="{{ nav_admin.Dashboard }}"><h3>< Back to Manager</h3></a>
            <ul>
                <li>Title: Apply 20% coupon</li>
                <li>Code: B0BTXB89PGFM318UI</li>
                <li>asin: B0BTXB89PG | ALL | ['B0BTXB89PG','B0BTXB89PG']</li>
                <li>Cash: $ 5.00</li>
                <li>Percentage: 20%</li>
                <li>Created at: 20231102</li>
                <li>Start at: 20231102</li>
                <li>End at: 20231202</li>
                <li>Status: Run | Invalid</li>
            </ul>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>