<footer>
    <div class="container">
        <div class="flex-container">
            <div>
                <h3><b>Brand</b></h3>
                <ul>
                    <li>Trenovker</li>
                    <li>ME AND MR. LEO</li>
                </ul>
            </div>
            <div>
                <h3><b>Contact Us</b></h3>
                <ul>
                    <li>me.and.mr.leo.official@gmail.com</li>
                </ul>
            </div>
        </div>
        <div>
            <span>Copyright © 2020-{{ timezone.year }}   3.9Kr Inc. All rights reserved.</span>
            <span>Conditions of Use Privacy Notice Your Ads Privacy Choices</span>
        </div>
    </div>
</footer>