<footer>
    <div class="container grid padding-t-b">
        <div>
            <h3><b>Brand</b></h3>
            <ul>
                <li><a href="">Trenovker</a></li>
                <li><a href="">ME AND MR. LEO</a></li>
            </ul>
        </div>
        <div>
            <h3><b>About</b></h3>
            <ul>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container padding-b">
        Copyright © 2020-2023 3.9Kr Inc. All rights reserved. 
    </div>
</footer>