<footer>
    <div class="container">
        <div class="flex-container">
            <div>
                <h3><b>Brand</b></h3>
                <ul>
                    <li><a href="">Trenovker</a></li>
                    <li><a href="">ME AND MR. LEO</a></li>
                </ul>
            </div>
            <div>
                <h3><b>Contact Us</b></h3>
                <ul>
                    <li><a href="">me.and.mr.leo.official@gmail.com</a></li>
                    <li><a href="">me.and.mr.leo.promote@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div>
            Copyright © 2020-{{ timezone.year }} 3.9Kr Inc. All rights reserved. 
        </div>
    </div>
</footer>