<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>ME AND MR. LEO</title>
</head>
<body page_id="{{ page_id }}" onload="setBanner()">
    
    {% include "nav.html" %}
    <!-------- promote-banner --------->
    <!-- <div id="banner" style="height:680px; overflow: hidden; position: relative;">
        <div id="banner-container" style="display: flex; position: relative; left: 0px; background-color: #fff000;">
            {% for promote_info in promote_info %}
            <div name="B0C1MVT741" style="height:680px; background: url('{{ promote_info.img }}') no-repeat 50% 50%; background-size: cover;">
                <div id="leo" class="banner-tip" style="display: none;">
                    <div>
                        <h1 class="stronger">{{ promote_info.bullet_point_01 }}</h1>
                    </div>
                    <div>
                        <span>{{ promote_info.bullet_point_02 }}</span>
                        <h2>{{ promote_info.bullet_point_03 }}</h2>
                    </div>
                    <div>
                        <h3><a href="{{ promote_info.promote_url }}" class="learnMore">Learn more</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->

    <!-------- promote-banner --------->
    <div id="banner" style="height:680px; overflow: hidden; position: relative;">
        <div id="banner-container" style="display: flex; position: relative; left: 0px; background-color: #fff000;">
            <div name="B0BZ3MGYXL" style="width: 100%; height:680px; background: url('{{ promote_info.0.img }}') no-repeat 50% 50%; background-size: cover;">
                <div id="leo" class="banner-tip">
                    <div>
                        <h1 class="stronger">{{ promote_info.0.bullet_point_01 }}</h1>
                    </div>
                    <!-- <div>
                        <span>{{ promote_info.0.bullet_point_02 }}</span>
                        <h2>{{ promote_info.0.bullet_point_03 }}</h2>
                    </div> -->
                    <div>
                        <!-- <h3><a onclick="moveImg()" class="learnMore auto-margin">Learn more</a></h3> -->
                        <h3><a href="{{ promote_info.0.url }}" class="learnMore">Learn more</a></h3>
                    </div>
                </div>
            </div>
            <div name="B0C6F3CK4F" style="height:680px; background: url('{{ promote_info.1.img }}') no-repeat 50% 50%; background-size: cover;">
                <div id="2" class="banner-tip" style="display: none;">
                    <div>
                        <h1 class="stronger">{{ promote_info.1.bullet_point_01 }}</h1>
                    </div>
                    <!-- <div>
                        <span>{{ promote_info.1.bullet_point_02 }}</span>
                        <h2>{{ promote_info.1.bullet_point_03 }}</h2>
                    </div> -->
                    <div>
                        <!-- <h3><a onclick="moveImg()" class="learnMore auto-margin">Learn more</a></h3> -->
                        <h3><a href="{{ promote_info.1.url }}" class="learnMore">Learn more</a></h3>
                    </div>
                </div>
            </div>
            <div name="B0BTWT5GL8" style="height:680px; background: url('{{ promote_info.2.img }}') no-repeat 50% 50%; background-size: cover;">
                <div id="3" class="banner-tip" style="display: none;">
                    <div>
                        <h1 class="stronger">{{ promote_info.2.bullet_point_01 }}</h1>
                    </div>
                    <!-- <div>
                        <span>{{ promote_info.2.bullet_point_02 }}</span>
                        <h2>{{ promote_info.2.bullet_point_03 }}</h2>
                    </div> -->
                    <div>
                        <!-- <h3><a onclick="moveImg()" class="learnMore auto-margin">Learn more</a></h3> -->
                        <h3><a href="{{ promote_info.2.url }}" class="learnMore">Learn more</a></h3>
                    </div>
                </div>
            </div>
            <div name="B0C1MVT741" style="height:680px; background: url('{{ promote_info.3.img }}') no-repeat 50% 50%; background-size: cover;">
                <div id="4" class="banner-tip" style="display: none;">
                    <div>
                        <h1 class="stronger">{{ promote_info.3.bullet_point_01 }}</h1>
                    </div>
                    <!-- <div>
                        <span>{{ promote_info.3.bullet_point_02 }}</span>
                        <h2>{{ promote_info.3.bullet_point_03 }}</h2>
                    </div> -->
                    <div>
                        <!-- <h3><a onclick="moveImg()" class="learnMore auto-margin">Learn more</a></h3> -->
                        <h3><a href="{{ promote_info.3.url }}" class="learnMore">Learn more</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------- promote-banner --------->
    <!-- <div style="height:680px; background: url('/static/image/show/B0BZ3MGYXL/2-A+-970.jpg') no-repeat 50% 50%; background-size: cover;">
        <div id="leo" class="banner-tip">
            test
        </div>
    </div> -->



    <!---------- promote-sku ---------->
    <div class="wrap">
        <div class="container flex-container promote-sku">
            <div style="height: 500px; width: 50%; text-align: center;"><img src="{{ product_info.6.first_img }}" style="width: auto; height: 100%;" alt=""></div>
            <div style="height: 100%; width: 50%;">
                <div><h1>{{ product_info_title.0 }}</h1></div>
                <div><h3>{{ product_info_title.1 }}</h3></div>
                <div><h3>{{ product_info_title.2 }}</h3></div>
                <div><h3>{{ product_info_title.3 }}</h3></div>
                <!-- <div style="margin-bottom: 9%;"><h4>{{ product_info_title }}</h4></div> -->
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.6.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
                <div><a class="buyOnAmazon" href="http://www.amazon.com/dp/{{ product_info.6.asin }}" target="_blank">Buy on Amazon >>></a></div>
            </div>
        </div>
    </div>

    <main>
        <div class="container grid-container products-shelf">
            <div class="margin-around">
                <div><a href="products&asin={{ product_info.5.asin }}{{ includ_user_id_url }}"><img src="{{ product_info.5.first_img }}" alt=""></a></div>
                <div><a href="products&asin={{ product_info.5.asin }}{{ includ_user_id_url }}" title="{{ product_info.5.title }}" class="display-row-3">{{ product_info.5.title }}</a></div>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.5.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
                <!-- <div>
                    <span class="coupon">Coupon: 20% off</span>
                </div> -->
            </div>
            <div class="margin-around">
                <div><a href="products&asin={{ product_info.6.asin }}{{ includ_user_id_url }}"><img src="{{ product_info.6.first_img }}" alt=""></a></div>
                <div><a href="products&asin={{ product_info.6.asin }}{{ includ_user_id_url }}" title="{{ product_info.6.title }}" class="display-row-3">{{ product_info.6.title }}</a></div>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.6.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
            </div>
            <div class="margin-around">
                <div><a href="products&asin={{ product_info.7.asin }}{{ includ_user_id_url }}"><img src="{{ product_info.7.first_img }}" alt=""></a></div>
                <div><a href="products&asin={{ product_info.7.asin }}{{ includ_user_id_url }}" title="{{ product_info.7.title }}" class="display-row-3">{{ product_info.7.title }}</a></div>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.7.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
                <!-- <div>
                    <span class="coupon">Coupon: 20% off</span>
                </div> -->
            </div>
            <div class="margin-around">
                <div><a href="products&asin={{ product_info.8.asin }}{{ includ_user_id_url }}"><img src="{{ product_info.8.first_img }}" alt=""></a></div>
                <div><a href="products&asin={{ product_info.8.asin }}{{ includ_user_id_url }}" title="{{ product_info.8.title }}" class="display-row-3">{{ product_info.8.title }}</a></div>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.8.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
            </div>
            <div class="margin-around">
                <div><a href="products&asin={{ product_info.8.asin }}{{ includ_user_id_url }}"><img src="{{ product_info.9.first_img }}" alt=""></a></div>
                <div><a href="products&asin={{ product_info.8.asin }}{{ includ_user_id_url }}" title="{{ product_info.8.title }}" class="display-row-3">{{ product_info.8.title }}</a></div>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.9.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
            </div>
        </div>
    </main>



    {% include "footer.html" %}
</body>
</html>