<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div id="B0BFHQTG6R" class="wrap" img_name="{{ img_name.B0BFHQTG6R }}">
    
        <div class="position">
            <div>
                <h1 class="stronger">CLOUD KEY HOLDER</h1>
            </div>
            <div>
                <span>Minimalistic Style Wooden Wall Decor</span>
            </div>
            <div>
                <a href="products/{{ product_asin.3 }}" class="learnMore auto-margin">Learn more</a>
            </div>
        </div>

    </div>

    <div class="wrap">

        <div class="container grid-container products-shelf">
            <div class="margin-around">
                <div><a href="products/{{ product_info.0.asin }}"><img src="{{ product_info.0.first_img }}" alt=""></a></div>
                <div><a href="products/{{ product_info.0.asin }}" title="{{ product_info.0.title }}" class="display-row-3">{{ product_info.0.title }}</a></div>
                <div>$<b>{{ product_info.0.price }}</b></div>
            </div>
            <div class="margin-around">
                <div><a href="products/{{ product_info.1.asin }}"><img src="{{ product_info.1.first_img }}" alt=""></a></div>
                <div><a href="products/{{ product_info.1.asin }}" title="{{ product_info.1.title }}" class="display-row-3">{{ product_info.1.title }}</a></div>
                <div>$<b>{{ product_info.1.price }}</b></div>
            </div>
            <div class="margin-around">
                <div><a href="products/{{ product_info.2.asin }}"><img src="{{ product_info.2.first_img }}" alt=""></a></div>
                <div><a href="products/{{ product_info.2.asin }}" title="{{ product_info.2.title }}" class="display-row-3">{{ product_info.2.title }}</a></div>
                <div>$<b>{{ product_info.2.price }}</b></div>
            </div>
            <div class="margin-around">
                <div><a href="products/{{ product_info.3.asin }}"><img src="{{ product_info.3.first_img }}" alt=""></a></div>
                <div><a href="products/{{ product_info.3.asin }}" title="{{ product_info.3.title }}" class="display-row-3">{{ product_info.3.title }}</a></div>
                <div>$<b>{{ product_info.3.price }}</b></div>
            </div>
        </div>
        
    </div>

    <div id="B09YLKWBMV" class="wrap" img_name="{{ img_name.B09YLKWBMV }}">
    
        <div class="position">
            <div>
                <h1 class="stronger">CLOUD KEY HOLDER</h1>
            </div>
            <div>
                <span>Minimalistic Style Wooden Wall Decor</span>
            </div>
            <div>
                <a href="products/{{ product_asin.1 }}" class="learnMore auto-margin">Learn more</a>
            </div>
        </div>

    </div>
    
    
    <div id="B09YLLXKDT" class="wrap" img_name="{{ img_name.B09YLLXKDT }}">

        <div class="position">
            <div>
                <h1 class="stronger">BRING YOUR IDEAL KITCHEN TO LIFE</h1>
            </div>
            <div>
                <p><span>Minimalistic Style Wooden Wall Decor</span></p>
            </div>
            <div>
                <a href="products/{{ product_asin.2 }}" class="learnMore auto-margin">Learn more</a>
            </div>
        </div>

    </div>
    
    <div id="B09KG4R3YR" class="wrap" img_name="{{ img_name.B09KG4R3YR }}">

        <div class="position">
            <div>
                <h1 class="stronger">CLOUD KEY HOLDER</h1>
            </div>
            <div>
                <p><span>Minimalistic Style Wooden Wall Decor</span></p>
            </div>
            <div>
                <a href="products/{{ product_asin.0 }}" class="learnMore auto-margin">Learn more</a>
            </div>
        </div>
        
    </div>


    {% include "footer.html" %}

</body>
</html>