<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ product_info.title }}</title>
</head>
<!-- <body page_id="{{ page_id }}"> -->
<body page_id="listing">
    
    {% include "nav.html" %}
    
    
    <main id="{{ page_id }}">
        <div class="container grid-listing">
            <!-- <div>
                <img src="{{ product_img.img_7_url.0 }}" alt="" />
                <img src="{{ product_info.first_img }}" alt="" />
            </div> -->
            <div class="img-7">
                <div class="flex-container">
                    <!-- <div><a onclick="pre()" style="display: block;"> &lt; </a></div> -->
                    <div>
                        <div id="img_7">
                            {% for img_7 in img_7 %}
                            <div id="{{ forloop.counter }}">
                                <img src="{{ img_7 }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <div><a onclick="nex()" style="display: block;"> &gt; </a></div> -->
                </div>
                <div id="img_7_mini" class="flex-container">
                    {% for img_7 in img_7 %}
                    <div id="7_{{ forloop.counter }}" onclick="cho('{{ forloop.counter }}')">
                        <img src="{{ img_7 }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="product-info">
                <h1>{{ product_info.title }}</h1>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
                <div class="buy flex-container">
                    <div>
                        <form action="/addtobag={{ product_info.asin }}" method="post">
                            {%csrf_token%}
                            <button type="submit" class="-btn-">Add to WishList</button>
                            <!-- <button type="submit" class="-btn-">Add to Bag</button> -->
                        </form>
                    </div>
                    <div><a href="{{ amazon }}" target="_blank" class="-btn-">Buy on Amazon</a></div>
                </div>
                <!-- <div>
                     style="width: 200px; font-size: 24px; margin-bottom: 5%; margin-right: 5%;"
                      style="width: 200px; font-size: 24px;"
                    <span class="coupon">Coupon: 20% off | {{ product_info.asin }} | {{ product_info.status }}</span>
                </div> -->
                <div>
                    <ul class="bullet-point">
                        {% for bullet_point in product_bullet_point %}
                        <li><p>{{ bullet_point }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container description"><p>{{ product_description.description }}</p></div>
    </main>



    {% include "footer.html" %}

</body>
</html>