<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ product_info.title }}</title>
</head>
<!-- <body page_id="{{ page_id }}"> -->
<body page_id="listing">
    
    {% include "nav.html" %}
    
    
    <main id="{{ page_id }}">
        <!-- 产品图片及价格信息 -->
        <div class="container grid-listing">
            <!-- <div>
                <img src="{{ product_img.img_7_url.0 }}" alt="" />
                <img src="{{ product_info.first_img }}" alt="" />
            </div> -->
            <div>
                <div class="flex-container" style="justify-content: space-between;">
                    <div><a onclick="pre()" style="width: 25px; line-height: 590px; font-size: 36px; cursor: pointer; display: block;"> &lt; </a></div>
                    <div style="width: 590px; height: 590px; overflow: hidden; border-radius: 6px;">
                        <div id="img_7" style="height: 590px; display: flex; position: relative; left: 0;">
                            {% for img_7 in img_7 %}
                            <div id="{{ forloop.counter }}" style="width: 590px; height: 590px;">
                                <img style="width: 590px;" src="{{ img_7 }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div><a onclick="nex()" style="width: 25px; line-height: 590px; font-size: 36px; cursor: pointer; display: block;"> &gt; </a></div>
                </div>
                <div class="flex-container" style="margin-top: 20px; justify-content: space-between;">
                    {% for img_7 in img_7 %}
                    <div id="7-{{ forloop.counter }}" onclick="cho('{{ forloop.counter }}')" style="width: 80px; height: 80px; cursor: pointer; border: 2px solid #f6f6f6;">
                        <img style="width: 80px;" src="{{ img_7 }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="product-info">
                <h1>{{ product_info.title }}</h1>
                <div>
                    <span class="flex-container price">
                        <span class="price-symbol">$</span>
                        <span class="price-int">{{ product_info.price }}</span>
                        <span class="price-float"></span>
                    </span>
                </div>
                <div><a href="{{ amazon }}" target="_blank" class="widget-btn">Buy on Amazon</a></div>
                <div>
                    <span class="coupon">Coupon: 20% off | {{ product_info.asin }} | {{ product_info.status }}</span>
                </div>
                <div>
                    <ul class="bullet-point">
                        {% for bullet_point in product_bullet_point %}
                        <li><p>{{ bullet_point }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container"><p>{{ product_description.description }}</p></div>
    </main>



    {% include "footer.html" %}

</body>
</html>