<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            
            <form class="login" action="/JAL/login" method="post">
                {%csrf_token%}
                <!-- {{ form }} -->
                <div>
                    <h1>{{ page_id }}</h1>
                </div>
                <ul>
                    <!-- <label for="test">Your name: </label> -->
                    <li>
                        <input id="email" type="text" name="email" value="EMAIL" onclick="loginControl('accountClick')" onblur="loginControl('accountOnblur')" oninput="account_email()">
                        <span style="display:none">email error</span>
                    </li>
                    <li>
                        <input id="passWord" type="text" name="passWord" value="PASSWORD" onclick="loginControl('passWordClick')" onblur="loginControl('passWordOnblur')" oninput="account_email()">
                        <span style="display:none">email error</span>
                    </li>
                    <li>
                        <!-- <button id="login" type="submit"><h3>{{ nav_account.Login.1 }}</h3></button> -->
                        <button id="login" type="submit"><h3>Login</h3></button>
                    </li>
                    <li>
                        <a href="{{ nav_account.SignUp.0 }}">{{ nav_account.SignUp.1 }}</a>
                    </li>
                </ul>
            </form>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>