<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            
            <form class="account_login" action="/JAL/account=login" method="post">
                {%csrf_token%}
                <!-- {{ form }} -->
                <div style="text-align: center; height: 60px; padding-top: 30px;">
                    <h1>{{ nav_account.login.1 }}</h1>
                </div>
                <ul>
                    <!-- <label for="test">Your name: </label> -->
                    <li>
                        <input id="email" type="text" name="email" value="Email" onclick="verifyAccountInfo('accountClick')" onblur="verifyAccountInfo('accountOnblur')" oninput="account_email()">
                        <span id="email_format" style="display:none">email format error</span>
                    </li>
                    <li>
                        <input id="password" type="text" name="password" value="Password" onclick="verifyAccountInfo('passWordClick')" onblur="verifyAccountInfo('passWordOnblur')" oninput="account_email()">
                        <span id="password_tips">{{ tips }}</span>
                    </li>
                    <li>
                        <!-- <button id="login" type="submit"><h3>{{ nav_account.Login.1 }}</h3></button> -->
                        <button id="login" type="submit">{{ nav_account.login.1 }}</button>
                    </li>
                    <li style="text-align: center;">
                        --or--
                    </li>
                    <li style="text-align: center;">
                        <a href="{{ nav_account.createAccount.0 }}" class="btn">{{ nav_account.createAccount.1 }}</a>
                    </li>
                </ul>
            </form>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>