<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">
        <br>
        <div class="container" style="border: 1px dashed #ff8800; border-radius: 6px;">
            <div style="margin: 20px;">
                <a style="margin: 10px;" href="{{ nav_admin.Dashboard }}">Dashboard</a>
                <span>/</span>
                <span style="margin: 10px;">Coupon Released</span>
                <span>/</span>
                <a href="{{ nav_admin.CouponRelease }}=create">Create Coupon</a>
            </div>
        </div>
        <br>
        <div class="container">
            {% for coupon in coupon %}
            <br>
            <fieldset>
                <legend>Coupon {{ coupon.created_at.date }}</legend>
                <div class="asin">Title: {{ coupon.title }}</div>
                <div class="asin">Code: {{ coupon.coupon_code }}</div>
                <!-- <div class="asin">Cash: $ 5.00</div>
                <div class="asin">Created at: {{ created_at }}</div>
                <div class="asin">Start at: 20231102</div>
                <div class="asin">End at: 20231202</div>
                <div class="asin">Run</div> -->
            </fieldset>
            {% endfor %}
        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>