<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}

    <div class="wrap">
        <br>
        <div class="container">
            <h3><a style="font-size: 20px;" href="{{ nav_admin.Dashboard }}">< Back to Manager</a></h3>
        </div>
        <!-- {% for title in listing %}
        <div class="container grid">
            <div>left</div>
            <div><a href="">{{title.asin}}: {{title.title}}</a></div>
        </div>
        {% endfor %} -->
        {% for listing in listing %}
        <br>
        <div class="container"><a href="adminjessie&edit-listing={{ listing.asin }}"><b>{{ listing.status }} > {{listing.asin}}</b> -- {{listing.title}}</a></div>
        {% endfor %}
        <!-- <ul class="container">
        {% for listing in listing %}
        <li><a href="admin&edit={{ listing.asin }}"><b>{{listing.asin}}</b> >>> {{listing.title}}</a></li>
        {% endfor %}
        </ul> -->
        <br>
        <br>
        <br>
    </div>

    {% include "footer.html" %}

</body>
</html>