<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}

    <div class="wrap">
        <br>
        <div class="container" style="border: 1px dashed #ff8800; border-radius: 6px;">
            <div style="margin: 20px;">
                <a style="margin: 10px;" href="{{ nav_admin.Dashboard }}">Dashboard</a>
                <span>/</span>
                <span style="margin: 10px;">Manage Listing</span>
            </div>
        </div>
        <br>
        <!-- {% for title in listing %}
        <div class="container grid">
            <div>left</div>
            <div><a href="">{{title.asin}}: {{title.title}}</a></div>
        </div>
        {% endfor %} -->
        {% for listing in listing %}
        <!-- <br> -->
        <!-- <div class="container"><a href="adminjessie&edit-listing={{ listing.asin }}"><b>{{ listing.status }} > {{listing.asin}}</b> -- {{listing.title}}</a></div> -->
        <fieldset class="container">
            <legend><b>{{ listing.status }} | {{listing.asin}}</b></legend>
            <div><a href="adminjessie&listing={{ listing.asin }}-edit">{{listing.title}}</a></div>
        </fieldset>
        {% endfor %}
        <!-- <ul class="container">
        {% for listing in listing %}
        <li><a href="admin&edit={{ listing.asin }}"><b>{{listing.asin}}</b> >>> {{listing.title}}</a></li>
        {% endfor %}
        </ul> -->
        <br>
        <br>
        <br>
    </div>

    {% include "footer.html" %}

</body>
</html>