<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container flex-container">
            <div class="account-info">
                <fieldset>
                    <legend>MyAccount</legend>
                    <br>
                    <div>Email: {{ user_account.email }}</div>
                    <div>UserName: {{ user_account.user_name }}</div>
                    <div>FirstName: {{ user_account.first_name }}</div>
                    <div>LastName: {{ user_account.last_name }}</div>
                    <div>Address: {{ user_account.address }}</div>
                    <div>Street: {{ user_account.street }}</div>
                    <div>City: {{ user_account.city }}</div>
                    <div>Country: {{ user_account.country }}</div>
                    <div>Code: {{ user_account.code }}</div>
                    <br>
                    <div><a href="myAccount&=edit">[Edit Account]</a><a href="logout">[Logout]</a></div>
                </fieldset>
            </div>
            <div class="order-info">
                <fieldset>
                    <legend>MyCoupon</legend>
                    <div style="float: left; margin-left: 1%;">Title: Ceramic Hamsa Hand Incense Holder Ceramic Hamsa Hand Incense Holder Ceramic Hamsa</div>
                    <div style="float: left; margin-left: 1%;">Code: E3QFVDAG3RFWR3FA</div>

                </fieldset>
                <fieldset>
                    <legend>MyOrder</legend>
                    <br>
                    <div>Email: {{ user_account.email }}</div>
                    <div>UserName: {{ user_account.user_name }}</div>
                    <div>FirstName: {{ user_account.first_name }}</div>
                    <div>LastName: {{ user_account.last_name }}</div>
                    <div>Address: {{ user_account.address }}</div>
                    <div>Street: {{ user_account.street }}</div>
                    <div>City: {{ user_account.city }}</div>
                    <div>Country: {{ user_account.country }}</div>
                    <div>Code: {{ user_account.code }}</div>
                    <br>
                    <div><a href="myAccount&=edit">[Edit Account]</a><a href="logout">[Logout]</a></div>
                </fieldset>
            </div>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>