<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container grid">
            
            <div>
                <ul>
                    <h1>MyAccount</h1>
                    <li><a href="myAccount&=edit">Edit Account</a></li>
                    <!-- <li>login_status: {{ user_status }}</li> -->
                    <li>email: {{ user_account.email }}</li>
                    <!-- <li>PassWord: {{ my_account.password }}</li> -->
                    <li>UserName: {{ user_account.user_name }}</li>
                    <li>FirstName: {{ user_account.first_name }}</li>
                    <li>LastName: {{ user_account.last_name }}</li>
                    <li>Address: {{ user_account.address }}</li>
                    <li>Street: {{ user_account.street }}</li>
                    <li>City: {{ user_account.city }}</li>
                    <li>Country: {{ user_account.country }}</li>
                    <li>Code: {{ user_account.code }}</li>
                    <li><a href="logout">Logout</a></li>
                </ul>
            </div>
            <div>COMING SOON...
                
            </div>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>