<!-- {%load static%}
{%load range%} -->
<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            
            <ul>
                <h1>MyAccount</h1>
                <!-- <li>email: {{ my_account.email }}</li>
                <li>passWord: {{ my_account.password }}</li>
                <li>UserName: {{ my_account.user_id }}</li>
                <li>FirstName: {{ my_account.first_name }}</li>
                <li>LastName: {{ my_account.last_name }}</li>
                <li>Address: {{ my_account.address }}</li>
                <li>Street: {{ my_account.street }}</li>
                <li>City: {{ my_account.city }}</li>
                <li>Country: {{ my_account.country }}</li>
                <li>Code: {{ my_account.code }}</li> -->

            </ul>

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>