<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    
    <div class="wrap">
    
        <div class="container cart-list">
            <!---------------------unit--------------------->
            {% if product_info %}
            {% for product_info in product_info %}
            <div class="grid-cart -select-">
                <div>
                    <a href=""><img src="{{ product_info.first_img }}" /></a>
                </div>
                <div>
                    <div><a href="" class="display-row-3"><h3>{{ product_info.title }}</h3></a></div>
                    <div><a href="">Qty: 1</a></div>
                    <!-- <div><a href="">Delet</a></div> -->
                </div>
                <div style="text-align: right;">
                    <div>$<span>{{ product_info.price }}</span></div>
                    <!-- <div>no cupon</div> -->
                    <div>
                        Subtotal: $<span><b>{{ product_info.price }}</b></span>
                    </div>
                </div>
                <!-- <div><a href="{{ amazon }}" target="_blank" class="widget-btn">Buy on Amazon</a></div> -->
            </div>
            {% endfor %}
            <!---------------------unit--------------------->
            <!---------------------sumbit--------------------->
            <div class="total-amount" style="height:160px; line-height:160px; text-align: right;">
                Total: $<span><b>139.99</b></span>
            </div>
            <div style="height:160px; line-height:160px; text-align: right;">
                <!-- <a href="{{ url_page_id_order }}" type="sumbit" class="widget-btn float-right">Commit Order</a> -->
                <button id="cart" type="submit" class="-btn- float-right"><h3>Commit Order</h3></button>
            </div>
            <!---------------------sumbit--------------------->
            {% else %}
            <div><h1>Your Bag empty</h1></div>
            {% endif %}
        </div>

    </div>
    
    
    
    {% include "footer.html" %}

</body>
</html>