<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    
    <div id="" class="wrap">
    
        <div class="container radius-div">
            <!---------------------01--------------------->
            <div id="" class="grid-cart -select- margin-20 padding-10">
                <div>
                    <a href=""><img src="{{ product_info.first_img }}" /></a>
                </div>
                <div class="margin-t-b">
                    <div><a href="" class="display-row-3">{{ product_info.title }}</a></div>
                    <div><a href="">Qty: 1</a></div>
                    <div><a href="">Delet</a></div>
                </div>
                <div class="padding-20" style="text-align: right;">
                    <div>$<span>{{ product_info.price }}</span></div>
                    <div>no cupon</div>
                    <div>
                        Subtotal: $<span><b>{{ product_info.price }}</b></span>
                    </div>
                </div>
            </div>
            <!---------------------01--------------------->
            <!---------------------02--------------------->
            <div id="" class="grid-cart -select- margin-20 padding-10">
                <div>
                    <a href=""><img src="{{ product_info.first_img }}" /></a>
                </div>
                <div class="margin-t-b">
                    <div><a href="" class="display-row-3">{{ product_info.title }}</a></div>
                    <div><a href="">Qty: 1</a></div>
                    <div><a href="">Delet</a></div>
                </div>
                <div class="padding-20" style="text-align: right;">
                    <div>$<span>{{ product_info.price }}</span></div>
                    <div>no cupon</div>
                    <div>
                        Subtotal: $<span><b>{{ product_info.price }}</b></span>
                    </div>
                </div>
            </div>
            <!---------------------02--------------------->
        </div>

        <div class="container">
            <!---------------------sumbit--------------------->
            <div class="margin-20" style="height:60px; line-height:60px; text-align: right;">
                Total: $<span><b>{{ product_info.price }}</b></span>
            </div>
            <div class="margin-20">
                <a href="{{ url_page_id_order }}" type="sumbit" class="widget-btn float-right">Commit Order</a>
                <button id="cart" type="submit"><h3>Commit Order</h3></button>
            </div>
            <!---------------------sumbit--------------------->
        </div>

    </div>
    
    
    
    {% include "footer.html" %}

</body>
</html>