<nav id="demo" style="background-color: rgb(125, 181, 131); height: 20px;">

</nav>
<!-- user nav -->
<nav>
    <div class="nav-plus container">
        <div>
            <a class="brand-plus" href="{{ nav_index.index }}" id="width"></a>
        </div>
        <div class="flex-container" style="justify-content: flex-end;">
            <ul id="app_list" class="nav-app-list flex-container">
                {% for key, value in nav_nav.items %}
                <li><a href="{{ value }}">{{ key }}</a></li>
                {% endfor %}
            </ul>
            <!-- test client & body width/height -->
            <!-- <div id="hei" style="line-height: 55px;"></div> -->
        </div>
        <div class="account">
            {% if user_status %}
            <a href="{{ nav_account.cart.0 }}" class="bag" onmouseenter="navCol('enter')" onmouseleave="navCol('leave')"></a>
            <div id="account-list" class="account-list" onmouseenter="navCol('enter')" onmouseleave="navCol('leave')">
                <div class="account-online">
                    <span>Hi, {{ user_name }}.</span>
                    <div>
                        <a href="{{ nav_account.account.0 }}">Account</a>
                        <!-- <a href="{{ nav_account.account.0 }}">Bag</a> -->
                        <!-- <a href="{{ nav_account.account.0 }}">Orders</a> -->
                        <a href="logout">Sign out</a>
                    </div>
                </div>
            </div>
            {% else %}
            <a href="{{ nav_account.cart.0 }}" class="bag" onmouseenter="navCol('enter')" onmouseleave="navCol('leave')"></a>
            <div id="account-list" class="account-list" onmouseenter="navCol('enter')" onmouseleave="navCol('leave')">
                <div>
                    <a class="login-btn" href="{{ nav_account.login.0 }}">Login</a>
                    <a class="createaccount-btn" href="{{ nav_account.createAccount.0 }}">Create Account</a>
                    <!-- <div>List</div> -->
                </div>
            </div>
            {% endif %}
        </div>
        
    </div>

    <div class="nav-mini container">
        <ul class="no-padding no-margin no-list-style">
            <li><a class="material-symbols-outlined size-48" onclick="mobNavCol('nav')">menu</a></li>
            <li><a class="brand-mini" href="{{ nav_index.index }}" id="width-mini"></a></li>
            <li><a class="bag" onclick="mobNavCol('account')"></a></li>

            <!-- {% if user_status %}
            <li>
                <a href="{{ nav_account.cart.0 }}" class="bag"></a>
            </li>
            {% else %}
            <li><a href="{{ nav_account.login.0 }}" class="bag" onmouseenter="display('over')" onmouseleave="display('out')"></a></li>
            {% endif %} -->
        </ul>
        <div id="nav-app-mini-list" class="nav-app-list">
            <a onclick="mobNavCol('nav')">X</a>
            <a href="{{ nav_nav.Brand }}">Brand</a>
            <a href="{{ nav_nav.Products }}">Products</a>
        </div>
        <div id="account-mini-list" class="account-list">
            {% if user_status %}
            <span>Hi, {{ user_name }}.</span>
            <div class="account-online">
                <a href="{{ nav_account.account.0 }}">Account</a>
                <!-- <a href="{{ nav_account.account.0 }}">Bag</a> -->
                <!-- <a href="{{ nav_account.account.0 }}">Orders</a> -->
                <a href="logout">Sign out</a>
            </div>
            {% else %}
            <a href="{{ nav_account.login.0 }}">Login</a>
            <a href="{{ nav_account.createAccount.0 }}">Create Account</a>
            <!-- <div>List</div> -->
            {% endif %}
        </div>
    </div>
</nav>
<!-- admin nav -->
{% if admin_account %}
<nav style="background-color: #eee;">
    <ul class="container flex-container">
        {% for key, value in nav_admin.items %}
        <li style="margin-right: 3%; height: 30px; line-height: 30px;"><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

