<div style="background-color: rgb(125, 181, 131); height: 20px;">

</div>
<!-- user nav -->
<nav>
    <div class="nav-plus container">
        <div>
            <a class="brand-plus" href="{{ nav_index.index }}" id="width"></a>
        </div>
        <div class="flex-container">
            <ul id="app_list" class="nav-app-list flex-container">
                {% for key, value in nav_nav.items %}
                <li><a href="{{ value }}">{{ key }}</a></li>
                {% endfor %}
                
                <!-- {% if user_account %}
                <li><a href="{{ nav_account.signUp.0 }}">{{ nav_account.signUp.1 }}</a></li>
                <li><a href="{{ nav_account.login.0 }}">{{ nav_account.login.1 }}</a></li>
                {% else %}
                <li><a href="{{ nav_account.login.0 }}">{{ user_account }}</a></li>
                {% endif %} -->
            </ul>
            <div id="hei" style="line-height: 55px;"></div>
        </div>
        <div class="account flex-container">
            <ul>
            {% if user_status %}
            <li><a href="{{ nav_account.myAccount.0 }}">{{ user_name }}</a></li>
            <!-- <div><a href="{{ nav_account.cart.0 }}">{{ nav_account.cart.1 }}</a></div> -->
            <li><a href="{{ nav_account.cart.0 }}" class="material-symbols-outlined size-30">shopping_cart</a></li>
            {% else %}
            <li><a href="{{ nav_account.login.0 }}">{{ nav_account.login.1 }}</a></li>
            <!-- <div><a href="{{ nav_account.cart.0 }}">{{ nav_account.cart.1 }}</a></div> -->
            <li><a href="{{ nav_account.cart.0 }}" class="material-symbols-outlined size-30">shopping_cart</a></li>
            {% endif %}
            <!-- {% if user_account %}
            <div><a href="{{ nav_account.login.0 }}" title="login" class="material-symbols-outlined size-30">account_circle</a></div>
            {% else %}
            <div><a href="{{ nav_account.myAccount.0 }}" class="material-symbols-outlined size-30">account_circle</a></div>
            {% endif %} -->
            <!-- <div><a href="{{ nav_account.Cart.0 }}" class="material-symbols-outlined size-30">shopping_cart</a></div> -->
            </ul>
        </div>
    </div>

    <div class="nav-mini container">
        <ul class="no-padding no-margin no-list-style">
            <li><a href="{{ nav_nav.Product }}" class="material-symbols-outlined size-48">menu</a></li>
            <li><a class="brand-mini" href="{{ nav_index.index }}" id="width-mini"></a></li>
            <!-- <li><a href="{{ nav_account.Cart.0 }}" class="material-symbols-outlined size-48">shopping_cart</a></li> -->
        </ul>
    </div>
</nav>
<!-- admin nav -->
{% if user_account %}
<nav style="background-color: #eee;">
    <ul class="container flex-container">
        {% for key, value in nav_admin.items %}
        <li style="margin-right: 3%; height: 30px; line-height: 30px;"><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

