<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">
        <div class="container grid-container products-shelf">
            
            {% for product_info in product_info %}
            <div class="margin-around">
                <div><a href="{{ nav_nav.Product }}/{{ product_info.asin }}{{ includ_user_id_url }}"><img src="{{ product_info.first_img }}" alt=""></a></div>
                <div><a href="{{ nav_nav.Product }}/{{ product_info.asin }}{{ includ_user_id_url }}" title="{{ product_info.title }}" class="display-row-3">{{ product_info.title }}</a></div>
                <div>$<b>{{ product_info.price }}</b></div>
            </div>
            {% endfor %}

        </div>
    </div>

    {% include "footer.html" %}

</body>
</html>