<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">

            <form class="login" action="/JAL/verifyUserAccount" method="post">
                {%csrf_token%}
                <!-- {{ form }} -->
                <div>
                    <h1>{{ page_id }}</h1>
                </div>
                <ul>
                    <!-- <label for="test">Your name: </label> -->
                    <li>
                        <input id="email" type="text" name="email" value="Your Email" onclick="loginControl('accountClick')" onblur="loginControl('accountOnblur')">
                        <span>{{ exist }}</span>
                        <span style="display:none">email error</span>
                    </li>
                    <li>
                        <input id="passWord" type="text" name="passWord" value="123+ABC+!@#" onclick="loginControl('passWordClick')" onblur="loginControl('passWordOnblur')">
                        <span style="display:none">email error</span>
                    </li>
                    <li>
                        <button id="login" type="submit"><h3>Submit</h3></button>
                    </li>
                    <li>
                        <a href="{{ nav_account.login.0 }}">{{ nav_account.login.1 }}</a>
                        |
                        <a href="{{ nav_account.account.0 }}">Create an Account</a>
                    </li>
                </ul>
            </form>

        </div>

    </div>
    


    {% include "footer.html" %}
    
</body>
</html>