<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
{% include "head.html" %}
<title>{{ app_title.0 }}</title>
</head>
<body page_id="{{ page_id }}">
    
    {% include "nav.html" %}
    

    <div class="wrap">

        <div class="container">
            <div class="card-standard no-margin min-height" style="background-image: url('{{ imgShow.1 }}'); background-size: 100%;">
                <div class="position">
                    <h1>{{ yes }}</h1>
                    {% for x in test %}
                        {{ x.email }}
                    {% endfor %}
                    
                </div>
            </div>

            

            

        </div>


        
    </div>
    


    {% include "footer.html" %}
    
</body>
</html>